* {
    margin: 0 auto;
    padding: 0;
	border: 0;
	line-height: 2;
	letter-spacing: 1.5px;	
	font-family: 'Roboto Slab', serif;
	
}

html {
    background-color: black;
	color: white;
}


p, li, ul {
	padding: 10px;
}

 img {
	width: 80vw;
	margin: 0 auto;
} 

html {
	margin: 0 auto;
}

main { 
	margin: 0 auto;
}

nav , li , form , input {
	display: inline-block;
 }

h1 {
	font-size: 5em;
	text-align: center;
}
a { 
	color: white;
}

section {
	background-color: black;
}

nav , ul , li {
	text-align: center;
	margin: 0px auto;
}

h2 {
	text-align: center;
	font-family: 'Anton', sans-serif;
	padding-top: 20px;
	/* padding-bottom: 10px; */
}

header {
	text-align: center;
}

table {
	margin: 0 auto;
}

th , td {
	margin: 15px;
	padding: 15px;
	margin: 0 auto;
	text-align: center;
 } 

footer {
	text-align: center;
}

input {
	width: 60%;
	height: 25px;
	background-color: cyan;
	text-align: center;
}

th {
	font-size: x-large;
}

h1 , h2 {
	color: cyan;
}

figcaption {
	text-align: center;
}



.links {
	font-size: large;
	text-decoration: none;
}

p {
	padding-top: 10px;
	max-width: 60%;
	margin: 0 auto;
	font-size: medium;
}

table {
	padding: 10px;	
} 

#learnhow {
	padding-top: 50px;
}


 
#fam {
	width: 170px;
	height:125px;
}


#videos {
	margin: 0 auto;
	width: 90vw;
	height: 60vh:

}

iframe {
	margin: 0 auto;
	width: 80%;
	
}

figure {
	margin-right: auto;
	width: 80%;
	margin-left: auto;
	padding-bottom: 40px;
}
